body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;

}
#calculator{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(23, 22, 22);
}
.operator{
    background-color: rgb(243, 166, 0);

}

